
<p>
  <mat-toolbar color="primary">
    <span>Restaurant Survey</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddEditForm()"> 
      Add
    </button>
  </mat-toolbar>
</p>

<table mat-table [dataSource]="jsonData" class="mat-elevation-z8">

  <!--- columns  based on JSON data structure -->
                            
  <ng-container matColumnDef="Name">                     <!-- Name Column -->
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  
  <ng-container matColumnDef="ContactNumber">                      <!-- Contact Number Column -->
    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
    <td mat-cell *matCellDef="let element"> {{element.ContactNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="Address">                            <!-- Address Column -->
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
  </ng-container>

  
  <ng-container matColumnDef="Service">                              <!-- Service Column -->
    <th mat-header-cell *matHeaderCellDef> Service </th>
    <td mat-cell *matCellDef="let element"> {{element.Service}} </td>
  </ng-container>


  <ng-container matColumnDef="Action">                              
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="openEditForm(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleterestaurant(element.Name)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>          <!-- header row -->
  
  
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     <!-- data rows -->
</table>
